* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    body {
    background: #0c0301;
    }
    .todo-container {
    color: white;
    position: absolute;
    top:50%;
    left: 50%;
    padding: 20px;
    width: 600px;
    transform: translate(-50%,-50%);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    .todo {
    width: 400px;
    }
    .todo-container h2 {
    padding: 10px;
    font-family: 'Candal', sans-serif;
    font-size: 2em;
    }
    .todo-header input {
    width: 92%;
    border: none;
    border-radius: 5px;
    height: 28px;
    font-family: 'Candal', sans-serif;
    }
    .todo-header button {
    color: white;
    border: none;
    border-radius: 20%;
    cursor: pointer;
    padding: 5px;
    font-family: 'Candal', sans-serif;
    background-color: rgb(51, 212, 100);
    }
    .todo-container ul {
    list-style: none;
    }
    .todo-list-item {
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    font-family: 'Candal', sans-serif;
    background: rgba(247, 16, 16, 0.568);
    display: flex;
    justify-content: center;
    margin-right: 15px;
    }
    .todo-list-item form {
    width: 100%;
    display: flex;
    }
    .todo-list-item input {
    flex-grow: 2;
    margin-right: 20px;
    border: none;
    border-radius: 5px;
    font-family: 'Candal', sans-serif;
    }
    .todo-list-item button {
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    font-family: 'Candal', sans-serif;
    background-color: rgb(51, 212, 100);
    }
    .todo-list-item .cancel {
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    font-family: 'Candal', sans-serif;
    background-color: rgb(223, 43, 43);
    margin-left: 5px;
    }
    .todo-list-item div {
    flex-grow: 2;
    }
    .todo-list-item .edit {
    color : rgb(143, 233, 58);
    margin-right: 10px;
    position: relative;
    margin-left: auto;
    cursor:pointer;
    text-decoration: none;
    }
    .todo-list-item .remove {
    color : rgb(243, 96, 96);
    margin-right: 5px;
    cursor:pointer;
    text-decoration: none;
    }

/* When clicked on, add a background color and strike out text */
ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
  }
  
/* Add a "checked" mark when clicked on */
ul li.checked::before {
content: '';
float: left;
margin-right: 15px;
border-color: #fff;
border-style: solid;
border-width: 0 2px 2px 0;
transform: rotate(45deg);
height: 15px;
width: 7px;
}